---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/global.css";

const pageTitle: string = "Blogs";

const skills: string[] = ["Coder", "Game Player"];
const skillColor = "navy";
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>{pageTitle}</title>

    <style define:vars={{ skillColor }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>

    <p>我正在学习Astro的入门教程，这是我网站上的第二个页面</p>

    <p>我的技能：</p>
    <ul>
      {skills.map((skull) => <li class="skill">{skull}</li>)}
    </ul>

    <Footer />
  </body>
</html>
